{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>

  <div id="stamp-duty-calculator" class="green-theme">
    <div id="stamp-duty-anchors">
        <p>Stamp Duty Calculator from <a href="https://calculatorsonline.com.au">calculatorsonline.com.au</a></p>
    </div>
    </div>

    <script id="stamp-src" type="text/javascript" data-state="All" src="{% static 'JS/main.js' %}"></script>

  <a href="{% url 'home' %}">Main</a>
  <a href="{% url 'stamp' %}">Stamp Duty</a>
</body>
</html>




